{block content}
    <h1 class="page-header">
        {block title}Správa šablon{/block}
    </h1>
    <div class="row">
        <div class="col-lg-9">
            {snippet magicControlTemplateGrid}
                {control magicControlTemplateGrid}
            {/snippet}
        </div>
        <div class="col-lg-3">
            {snippet magicControlControlsGrid}
                {control magicControlControlsGrid}
            {/snippet}
        </div>
    </div>
{/block}